# FastAPI 및 서버 실행
fastapi
uvicorn[standard]

# 외부 API 호출 (카카오, Gemini)
httpx

# 설정 관리
pydantic-settings

# 폼 데이터(파일 업로드) 지원
python-multipart 

# 테스트용 앱
streamlit

chromadb
google-generativeai
sentence-transformers # 임베딩 모델용